@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.nav_link {
		@apply relative text-sm font-light text-foreground500 after:absolute after:w-0 hover:after:w-full after:h-px after:bg-foreground600 after:right-0 after:-bottom-1 after:transition_all_300 hover:after:left-0;
	}

	.transition_all_300 {
		@apply transition-all duration-300 ease-in-out;
	}

	.text_input {
		@apply w-full h-12 px-4 mt-2 text-base border rounded cursor-pointer border-gray300 focus:outline-none focus:border-purple200;
	}
}

@layer utilities {
	.fade_in_1000 {
		animation: fadeIn 1s;
	}

	.fade_in_300 {
		animation: fadeIn 0.3s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
